.container_apresentacao{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
}

.container_apresentacao img{
    width: 100%;
}

@media(max-width: 1000px){
    .container_apresentacao{
        max-width: 450px;
    }
}

@media(max-width: 750px){
    .container_apresentacao{
        width: 100%;
        max-width: none;
    }
}