:root {
    --cor-texto: #fff;
    --cor-botao-primario: #2f74be;
    --cor-botao-destaque: #007bff;
}

.botao_primario {
    background-color: var(--cor-botao-destaque);
    color: var(--cor-texto);
    padding: .5rem;
    border: none;
    border-radius: .3rem;
    transition: .5s ease;
    cursor: pointer;
    text-transform: uppercase;
    
}

.botao_primario:hover{
    background-color: var(--cor-botao-primario);
}
