@import '../../styles/globals.css';

.container_mainRemedio{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.voltar{
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 1.5rem;
    display: flex;
    gap: .5rem;
    align-self: start;
    font-weight: bold;
    transition: .3s ease;
}

.voltar:hover{
    color: var(--cor-secundaria);
}

.container_infoRemedio{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: 1rem;
}

.container_infoRemedio h1{
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--cor-secundaria);
    text-decoration: underline;
}

@media (max-width: 450px){
    .container_mainRemedio{
        padding: .5rem;
    }

    .container_infoRemedio h1{
        font-size: 1.2rem;
        text-align: center;
    }
}