@import '../../styles/globals.css';

footer ul{
    list-style-type: none;
}

footer a{
    text-decoration: underline;
    color: var(--cor-branca) !important;
}

.footerCopyright svg{
    color: var(--cor-branca) !important;
}

footer h2{
    text-transform: uppercase;
    color: var(--cor-branca);
    margin-bottom: .5rem;
}

footer a:visited{
    color: var(--cor-texto);
}

footer{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .5rem;
    width: 100%;
    max-width: 1200px;
}

.footer_content {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: .5rem; 
}

.footer_content p{
    color: var(--cor-branca);
    line-height: 1.5;
}

.contatos{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contatos label{
    display: flex;
    gap: .5rem;
    color: var(--cor-branca);
}

.contatos a{
    display: flex;
    gap: .5rem;
}

.links_uteis{
    display: flex;
    flex-direction: column;
    gap: .5rem; 
}

.links_uteis ul{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.servicos{
    display: flex;
    flex-direction: column;
    gap: .5rem; 
}

.servicos ul{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.footerCopyright{
    background-color: var(--cor-secundaria);
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    & .copy_container{
        width: 100%;
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #333;
        gap: .5rem;
        font-weight: bold;

    }
}

.footerCopyright .redes{
    display: flex;
    gap: .5rem;
    & svg{
        font-size: 2rem;
        cursor: pointer;
    }
}

@media (max-width: 700px){
    .footer_container{
        text-align: center;
        gap: 2rem;
    }

    footer h2{
        margin-bottom: .5rem;
    }
    .copy_container{
        flex-direction: column-reverse;
        text-align: center;
    }
}